{% extends 'base.html.twig' %}

{% block title %}Edit PersonaPer{% endblock %}

{% block body %}
    <h1>Edit PersonaPer</h1>

    {{ include('persona_per/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_persona_per_index') }}">back to list</a>

    {{ include('persona_per/_delete_form.html.twig') }}
{% endblock %}
