{% extends 'base.html.twig' %}

{% block title %}New ActividadAct{% endblock %}

{% block body %}
    <h1>Create new ActividadAct</h1>

    {{ include('actividad_act/_form.html.twig') }}

    <a href="{{ path('app_actividad_act_index') }}">back to list</a>
{% endblock %}
