<div id="contact-section-INICIAR-SESION" class="pad-sec">
  <div class="container">
    <div class="form-wrapper">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          <button class="btn">{{ button_label|default('Save') }}</button>
          {{ form_end(form) }}
        </div>
        <!-- end col-md-8 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end form-wrapper -->
  </div>
</div>
