<!-- Navbar -->
<header class="header">
	<nav class="navbar navbar-default navbar-static-top">
		<div
			class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('Home') }}"><img src="/images/logo.png" width="380" height="35"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navigation-nav">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a class="section-scroll" href="#hero-section-BUSCAR">Inicio</a>
					</li>
					<li>
						<a href="#screenshots-section-EVENTOS-DISPONIBLES">Eventos</a>
					</li>
					<li>
						<a href="#team-section-EVENTO">Evento</a>
					</li>
					<li>
						<a href="#team-section">Team</a>
					</li>
					<li>
						<a href="#screenshots-section">Algo mas</a>
					</li>
					<li>
						<a href="#prices-section">Algo mas</a>
					</li>
					<li>
						<a href="#contact-section">Algo mas</a>
					</li>
					<li>
						<a href="{{ path('adminHome') }}">Administrador</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</header>
<!-- End Navbar -->
